body{
	background-color: #f2f2f2;
	font-family: "HelveticaNeue-Light", Arial;
}

h1{
	font-family: "HelveticaNeue-Regular", Arial;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size:1.5em;
	font-weight:bold;
	text-align: center;
}

h2 {
	font-family: "HelveticaNeue-Regular", Arial;
	padding-top:1%;
	font-size:2em;
	padding-bottom:3%;
}

h3{
	font-family: "HelveticaNeue-Medium", Arial;
	padding-top:1%;
	font-size:1.2em;
	color: black;
}

h4 {
	font-family: "HelveticaNeue-Regular", Arial;
	text-align: center;
}

h5 {
	text-align: center;
	font-size: 1em;
}

p {
	font-size: 1.1em;
	font-family: "HelveticaNeue-Thin", Arial;
}

li {
	font-size: 1.1em;
	padding-left: 2%;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: #1DC497;
}

.footer {
	background-color: black;
}

.footer-nav li{
	padding:5px;
	list-style: none;
	color:#1DC497;

}

.footer-nav li h3{
	list-style: none;
	color:#1DC497;

}

.footer-nav ul{
	list-style:none;
}


.footer-nav a{
	color:#1DC497;
}

.jumbotron{
	padding:0%;
}

.navbar{
	padding-bottom: 0%;
	margin-bottom: 0%;
}

.navbar-header .navbar-brand{
	color:black;
	font-family: Palatino Linotype;
}

.navbar-default .navbar-text a{
	text-decoration: none;
	color: gray;
	font-family: "HelveticaNeue-Regular", Arial;
}

.navbar-default .navbar-text {
	text-decoration: none;
	color: #1DC497;
	font-family: "HelveticaNeue-Regular", Arial;
}


.row{
	padding-bottom: 4%;
}

.container{
	padding-top: 5%;

}

.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	#tooltip {   
		position: absolute;           
		text-align: center;
		padding: 20px;             
		margin: 10px;
		font: 12px sans-serif;        
		background: lightsteelblue;   
		border: 1px;      
		border-radius: 2px;           
		pointer-events: none;         
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}

