body{
	background-color: #f2f2f2;
	font-family: "HelveticaNeue-Light", Arial;
}

h1{
	font-family: "HelveticaNeue-Regular", Arial;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size:1.5em;
	font-weight:bold;
	text-align: center;
}

h2 {
	font-family: "HelveticaNeue-Regular", Arial;
	padding-top:1%;
	font-size:2em;
	padding-bottom:3%;
}

h3{
	font-family: "HelveticaNeue-Regular", Arial;
	padding-top:1%;
	font-size:1.2em;
}

h4 {
	font-family: "HelveticaNeue-Regular", Arial;
	text-align: center;
}

h5 {
	text-align: center;
	font-size: 1em;
}

p {
	font-size: 1.1em;
}

li {
	font-size: 1.1em;
	padding-left: 2%;
}

.navbar-header .navbar-brand{
	color:black;
	font-family: Palatino Linotype;
}

.navbar-default .navbar-text a{
	text-decoration: none;
	color: gray;
	font-family: "HelveticaNeue-Regular", Arial;
}

.navbar-default .navbar-text {
	text-decoration: none;
	color: #1DC497;
	font-family: "HelveticaNeue-Regular", Arial;
}



/*.navbar.navbar-default{
	text-decoration: none;
	width: 100%;
	border-radius: 0px;
	opacity: 1;
	background: white;
}*/


 /*.navbar.navbar-default a:link{
	text-decoration: none;
	color: gray;
}*/

/*.navbar.navbar-default a:hover{
	text-decoration: none;
	color: gray;
	font-weight: bold;
}*/

/*.navbar.navbar-default p:active a{
	text-decoration: none;
	color: teal;
	font-weight: bold;
}*/


/*.navbar.navbar-default > p.active > a{
	text-decoration: none;
	font-weight:bold;
}*/


/*.navbar.navbar-default a:link{
	text-decoration: none;
	color: gray;
}*/

/*.navbar.navbar-default a:hover{
	text-decoration: none;
	color: gray;
	font-weight: bold;
}*/







